spring:
  application:
    name: ms-emprunt

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/empruntdb
    username: root
    password: ''

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    show-sql: true

server:
  port: 8031
  error:
    include-message: always

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

# Configuration Feign
feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
